.SkillOne__container {
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    padding: calc(12*0.0625rem);
    border-radius: 1.25rem;
    height: 100%;
  }
.SkillOne__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: column;
  height: 100%;
  gap: calc(10*0.0625rem);
  align-content: center;
  justify-content: center;
}
.SkillOne__content-box{
  display: flex;
  flex-direction: column;
  gap: 0;
  /* background-color: bisque; */
}


.SkillOne__container p {
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  font-weight:400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

.SkillOne__img{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* background-color: aqua ; */
  gap: calc(6rem * 00.0625);
  /* row-gap: calc(6rem * 00.0625);
  column-gap: calc(5rem * 00.0625); */
  /* justify-content: space-between; */
}
/* .SkillOne__img::after{
  content: "";
  flex: auto;
} */
.row-1 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(4, 255, 0); */
}
.row-2 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(4, 255, 0); */
}
#hidden{
  visibility: hidden;
}
.SkillOne__img img{
  margin: 0;
  padding: 0;
  width: 4vh;
  /* background-color: #8d447d; */
  /* width: 100%;
  height: auto; */
}