.ExpOne__container {
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    padding: calc(12*0.0625rem);
    border-radius: 1.25rem;
    height:100%;
    width: 100%;
    overflow: hidden;
    container-type: inline-size;
}
.ExpOne__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: column;
  height: 100%;
  gap: 0;
}
.ExpOne__content-box{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: calc(10*0.0625rem);
  /* background-color: bisque; */
  border-bottom: 0.13rem solid #1e1e1e;
}
.ExpOne__heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  /* background-color: aqua; */
}
.ExpOne__container h2 {
  margin: 0;
  color: #E6E6E6;
  font-size: calc(16rem/16);
  font-weight: 500;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

.ExpOne__container p {
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  font-weight:400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

.ExpOne__bullet{
  margin: 0;
  padding-top: calc(10rem/16);
  /* padding-bottom: calc(10rem/16); */
  /* background-color: aqua ; */
  overflow-y: auto;      
  scrollbar-width: none; 
}
.ExpOne__container ul{
  padding-left: calc(15*0.0625rem);;
  margin: 0;
}
.ExpOne__container li{
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  font-size: calc(1.51cqw + 1.51cqh);
  font-weight:400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}






