.Interests__container {
  box-sizing: border-box;
  background-color: #101010;
  border: 0.13rem solid #1e1e1e;
  /* padding-right: calc(16rem/16);
  padding-left: calc(16rem/16);
  padding-top: calc(16rem/16);
  padding-bottom: calc(16rem/16); */
  padding: calc(16rem/16);
  border-radius: 1.25rem;
  height: 100%;
  width: 100%;
  container-type: inline-size;  
  overflow: hidden;
}

.Interests__boxbox {
  box-sizing: border-box;
  background-color: #191919;
  border: 0.13rem solid #1e1e1e;
  padding-right: calc(12*0.0625rem);
  padding-left: calc(12*0.0625rem);
  padding-top: calc(5*0.0625rem);
  padding-bottom: calc(5*0.0625rem);
  border-radius: 2.5rem;
  margin: 0;
  color: #cccccc;
  font-size: calc(13rem/16);
  font-weight: 400;
}

.Interests__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: calc(10*0.0625rem);
}

.Interests__heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  /* background-color: bisque; */
}

.Interests__content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: aqua; */
  row-gap: calc(10*00.0625rem);
}


.Interests__container p {
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  font-weight: 400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}





@container (width <= 260px) {
  .Interests__boxbox {
    font-size: calc(6rem/16);
  }
}
@container (width > 260px) {
  .Interests__boxbox {
    font-size: calc(6.7rem/16);
  }
}
@container (width > 300px) {
  .Interests__boxbox {
    font-size: calc(7.4rem/16);
  }
}
@container (width > 320px) {
  .Interests__boxbox {
    font-size: calc(8.1rem/16);
  }
}
@container (width > 335px) {
  .Interests__boxbox {
    font-size: calc(8.8rem/16);
  }
}
@container (width > 350px) {
  .Interests__boxbox {
    font-size: calc(9.5rem/16);
  }
}
@container (width > 365px) {
  .Interests__boxbox {
    font-size: calc(10.2rem/16);
  }
}
@container (width > 380px) {
  .Interests__boxbox {
    font-size: calc(10.9rem/16);
  }
}
@container (width > 405px) {
  .Interests__boxbox {
    font-size: calc(11.6rem/16);
  }
}
@container (width > 420px) {
  .Interests__boxbox {
    font-size: calc(12.3rem/16);
  }
}
@container (width > 435px) {
  .Interests__boxbox {
    font-size: calc(13rem/16);
  }
}

@container (width > 450px) {
  .Interests__boxbox {
    font-size: calc(13rem/16);
  }
}
