.Interests__container {
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    padding-right: calc(19*0.0625rem);
    padding-left: calc(19*0.0625rem);
    padding-top: calc(22*0.0625rem);
    padding-bottom: calc(27*0.0625rem);
    border-radius: 1.25rem;
    height:100%;
    overflow: hidden;
}
.Interests__container-box {
  display: flex;
  background-color: #ff0909;
  flex-direction: column;
  height: 100%;
  /* gap: calc(12*0.0625rem); */
  gap: 0;
}
.Interests__heading{
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: bisque;
}
.Interests__content{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* padding-bottom: calc(10rem/16); */
  background-color: aqua ;
}
.Interests__container h2 {
  margin: 0;
  color: #E6E6E6;
  font-size: calc(14.5rem/16);
  font-weight: 500;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

.Interests__container p {
  margin: 0;
  color: #999999;
  font-size: calc(12.5rem/16);
  font-weight:400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

