.Interests__container {
  box-sizing: border-box;
  background-color: #101010;
  border: 0.13rem solid #1e1e1e;
  /* padding-right: calc(16rem/16);
  padding-left: calc(16rem/16);
  padding-top: calc(16rem/16);
  padding-bottom: calc(16rem/16); */
  padding: calc(16rem/16);
  border-radius: 1.25rem;
  height: 100%;
  overflow: hidden;
}

.Interests__boxbox {
  box-sizing: border-box;
  background-color: #191919;
  border: 0.13rem solid #1e1e1e;
  padding-right: calc(12*0.0625rem);
  padding-left: calc(12*0.0625rem);
  padding-top: calc(5*0.0625rem);
  padding-bottom: calc(5*0.0625rem);
  border-radius: 2.5rem;
  margin: 0;
  color: #cccccc;
  font-size: calc(13rem/16);
  font-weight: 400;
}

.Interests__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: calc(10*0.0625rem);
}

.Interests__heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  /* background-color: bisque; */
}

.Interests__content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
  gap: calc(10*00.0625rem);
}


.Interests__container p {
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  font-weight: 400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}
