.Proj__container {
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    padding: calc(12*0.0625rem);
    border-radius: 1.25rem;
    height:100%;
    overflow: hidden;
}
.Proj__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: column;
  height: 100%;
  gap: calc(10rem/16);
}
.Proj__content-box{
  gap: 0;
  /* background-color: bisque; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}


.Proj__projects{
  margin: 0;
  display: flex;
  flex-direction: column;
  /* padding-bottom: calc(10rem/16); */
  /* background-color: rgb(34, 0, 255) ; */
  gap: calc(10rem/16);
  overflow-y: auto;      
  scrollbar-width: none; 
}


.Proj__projects button{
  height: 100%;
}

.Proj__project{
  margin: 0;
  display: flex;
  background-color: #191919;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 0.13rem solid #1e1e1e;
  /* padding-bottom: calc(10rem/16); */
  /* background-color: #ff0000 ; */
  padding-right: calc(12rem/16);
  padding-left: calc(12rem/16);
  padding-top: calc(7rem/16);
  padding-bottom: calc(7rem/16);
  border-radius: 0.75rem;
  gap: calc(8rem/16);
}

.Proj__image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    /* height: 6rem; */
    width: 60%;
    border-radius: 0.75rem;
    aspect-ratio: 1/1;
}
.Proj__image img{
  width: 70%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.Proj__disc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    /* background-color: #E6E6E6; */
}

.Proj__probutton{
    display: flex;
    flex-direction: column;
    height: 70%;
    gap: calc(10rem/16);
    justify-content: center;
    /* justify-content: space-around; */
}
.Proj__probutton img{
    width: calc(14rem/16);
}

.Proj__probutton1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B9611;
    padding-left: calc(4rem/16);
    padding-right: calc(4rem/16);
    border-radius: 0.3rem;
    height: 100%;
    gap: calc(5rem/16);
}
.Proj__probutton2{
    display: flex;
    gap: calc(2rem/16);
    justify-content: space-around;
    align-items: center;
    background-color: #916CE7;
    padding-left: calc(5rem/16);
    padding-right: calc(5rem/16);
    border-radius: 0.3rem;
    height: 100%;
}






.Proj__container h2 {
  margin: 0;
  color: #E6E6E6;
  font-size: calc(0.7cqw + 0.7cqh);
  font-weight: 500;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

.Proj__container p {
  margin: 0;
  color: #999999;
  /* font-size: calc(14rem/16); */
  font-size: calc(0.57cqw + 0.57cqh);
  font-weight:400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}
.Proj__container h3 {
  margin: 0;
  color: #ffffff;
  /* font-size: calc(12rem/16); */
  font-size: calc(0.7cqw + 0.7cqh);
  font-weight:400;
}

