.EduCert__container {
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    padding: calc(12rem/16);
    border-radius: 1.25rem;
    height:100%;
    overflow: hidden;
}
.EduCert__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
  height: 100%;
  gap: 0;
}
.EduCert__content-box{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(8, 0, 255); */
}
.EduCert__content-box1{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: calc(10rem/16);
  /* background-color: bisque; */
  border-bottom: 0.13rem solid #1e1e1e;
}
.EduCert__content-box2{
  display: flex;
  flex-direction: column;
  gap: 0;
  /* background-color: rgb(255, 170, 66); */
}
.EduCert__heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  /* background-color: aqua; */
}
.EduCert__container h2 {
  margin: 0;
  color: #E6E6E6;
  font-size: calc(16rem/16);
  font-weight: 500;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

.EduCert__container p {
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  font-weight:400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}
