.SkillTwo__container {
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    padding: calc(12*0.0625rem);
    border-radius: 1.25rem;
    height: 100%;
    width: 100%;
    container-type: inline-size;
    overflow: hidden;
  }
.SkillTwo__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: column;
  height: 100%;
  gap: calc(10*0.0625rem);
  align-content: center;
  justify-content: center;
}
.SkillTwo__content-box{
  display: flex;
  flex-direction: column;
  gap: 0;
  /* background-color: bisque; */
}


.SkillTwo__container p {
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  font-weight:400;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
}

.SkillTwo__img{
  display: flex;

  margin: 0;
  /* background-color: aqua ; */
  justify-content: space-between;
}
/* .SkillTwo__img::after{
  content: "";
  flex: auto;
} */

.SkillTwo__img img{
  margin: 0;
  padding: 0;
  width: 15.1%;
  /* background-color: #8d447d; */
  /* width: 100%;
  height: auto; */
}


@container (width > 220px) {
  .SkillTwo__img img {
    width: 13%;;
  }
}
@container (width > 260px) {
  .SkillTwo__img img {
    width: 12%;;
  }
}
@container (width > 300px) {
  .SkillTwo__img img {
    width: 11%;;
  }
}
@container (width > 340px) {
  .SkillTwo__img img {
    width: 10%;;
  }
}
@container (width > 380px) {
  .SkillTwo__img img {
    width: 9%;;
  }
}
@container (width > 420px) {
  .SkillTwo__img img {
    width: 8%;;
  }
}
@container (width > 460px) {
  .SkillTwo__img img {
    width: 7%;;
  }
}

