.SideBar__container {
    box-sizing: border-box;
    background-color: #101010;
    border-top: 0.13rem solid #1e1e1e;
    border-right: 0.13rem solid #1e1e1e;
    border-left: 0.13rem solid #1e1e1e;
    padding: calc(12*0.0625rem);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    /* border-radius: 1.25rem; */
    height:93%;
    overflow: hidden;
}

.SideBar__container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: brown; */
    height: 100%;
    width: 100%;
}
.SideBar__content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20%;
    height: 100%;
    width: 100%;
    /* background-color: rgb(4, 48, 86); */
}
.SideBar__content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88%;
    width: 100%;
    /* background-color: rgb(0, 136, 255); */
}
.SideBar__content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    height:max-content;
    width: 100%;
    /* background-color: rgb(20, 169, 94); */
    gap: calc(12rem/16);
    /* gap: calc(15rem/16); */
}
.SideBar__content4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: calc(12rem/16);
    /* height: 100%; */
    height:max-content;
    width: 100%;
    /* background-color: rgb(255, 0, 195); */
    /* padding-bottom: 15%; */
}
.SideBar__toggle{
    display: flex;
    justify-content: center;
    background-color: #363636;
    height: 7%;
    /* padding: 6%; */
    border-bottom: 0.13rem solid #1e1e1e;
    border-right: 0.13rem solid #1e1e1e;
    border-left: 0.13rem solid #1e1e1e;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}
.SideBar__toggle img{
    width: 50%;
}


.SideBar__container img{
    width: 75%;
    /* background-color: chocolate; */
}