.Port__container {
    margin: 0;
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    /* padding-right: calc(12rem/16);
    padding-left: calc(12rem/16);
    padding-top: calc(8rem/16);
    padding-bottom: calc(8rem/16); */
    padding: calc(12rem/16);
    border-radius: 1.25rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    container-type: inline-size;
    width: 100%;
}

.Port__boxbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #191919;
    border: 0.13rem solid #1e1e1e;
    padding-right: calc(10*0.0625rem);
    padding-left: calc(10*0.0625rem);
    padding-top: calc(5*0.0625rem);
    padding-bottom: calc(5*0.0625rem);
    border-radius: 2.5rem;
    gap: calc(10rem/16);
    margin: 0;
}

.Port__boxbox img {
    width: calc(16rem/16);
    margin: 0;
    padding: 0;
}

.Port__container-box {
    display: flex;
    margin: 0;
    /* background-color: #ff0909; */
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: calc(10*0.0625rem);
    /* gap: calc(8*0.0625rem); */
}

.Port__heading {
    margin: 0;
    padding: 0;
    gap: 0;
    /* background-color: bisque; */
}

.Port__content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    /* background-color: aqua; */
}

#min-con{
    width: min-content;
    white-space: nowrap;

}

.Port__container p {
    margin: 0;
    color: #999999;
    font-size: calc(14rem/16);
    font-weight: 400;
    text-shadow:
        2px 0 black,
        -2px 0 black,
        0 2px black,
        0 -2px black,
        2px 2px black,
        -2px 2px black,
        2px -2px black,
        -2px -2px black;
}

.Port__container h1 {
    margin: 0;
    color: #cccccc;
    font-size: calc(13rem/16);
    
    /* font-size: 0.8vw; */
    font-weight: 400;
}




@container (width <= 220px) {
  .Port__container h1 {
    display: none;
  }
}
@container (width <= 300px) {
  .Port__container h1 {
    display: none;
  }
}
@container (width > 300px) {
  .Port__container h1 {
    font-size: calc(6rem/16);
  }
}
@container (width > 320px) {
  .Port__container h1 {
    font-size: calc(6.84rem/16);
  }
}
@container (width > 335px) {
  .Port__container h1 {
    font-size: calc(7.61rem/16);
  }
}
@container (width > 350px) {
  .Port__container h1 {
    font-size: calc(8.38rem/16);
  }
}
@container (width > 365px) {
  .Port__container h1 {
    font-size: calc(9.15rem/16);
  }
}
@container (width > 380px) {
  .Port__container h1 {
    font-size: calc(9.92rem/16);
  }
}
@container (width > 405px) {
  .Port__container h1 {
    font-size: calc(10.69rem/16);
  }
}
@container (width > 420px) {
  .Port__container h1 {
    font-size: calc(11.46rem/16);
  }
}
@container (width > 435px) {
  .Port__container h1 {
    font-size: calc(12.23rem/16);
  }
}

@container (width > 450px) {
  .Port__container h1 {
    font-size: calc(13rem/16);
  }
}
