body {
  margin: 0;
  background-color: #050505;
  /* box-sizing: border-box; */
  /* padding: 1rem; */
}

.grid-container {
  height: 100vh;
  width: 100vw;
  /* padding: calc(23rem/16); */
  padding-top: 2.6144vh;
  padding-bottom: 2.6144vh;
  padding-left: 1.1394vw;
  padding-right: 1.1394vw;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 14.3vw 14.2986vw 31.9313vw 28.0692vw;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-rows: 18.3457vh 28.1042vh 16.004vh 10.9297vh 10.9297vh;
  /* grid-template-rows: 167.13fr 256.03fr 145.8fr 99.57fr 99.57fr; */
  /* gap: calc(12rem/16); */
  gap: 1.5367vh;
  /* row-gap: 2.6144vh;
  column-gap: 2.6144vh; */
  /* column-gap: 1.1394vw; */
  justify-content: center;
  align-content: center;
  grid-template-areas:
    " box-2 box-2 box-3 box-4"
    " box-5 box-6 box-7 box-4"
    " box-5 box-8 box-9 box-4"
    " box-5 box-10 box-9 box-4"
    " box-5 box-11 box-12 box-4";
}

@media (max-width: 1100px) {
/* 
  body {
    background-color: blue;
  } */

  .grid-container {
    height: 100%;
    width: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 20vh 30vh 19vh 12vh 12vh 20vh 30vh 31vh 12vh 80vh;
    gap: 1.5vh;
    grid-template-areas:
      " box-2 box-2 "
      " box-5 box-6 "
      " box-5 box-8 "
      " box-5 box-10 "
      " box-5 box-11 "
      " box-3 box-3 "
      " box-7 box-7 "
      " box-9 box-9 "
      " box-12 box-12 "
      " box-4 box-4 ";

  }
  /* .mobile {
    display: none;
  } */
  
}

/* .item {
  background-color: aqua;
} */


/* 4.5643vw
box-1
*/