.AboutMe__container {
    box-sizing: border-box;
    background-color: #101010;
    border: 0.13rem solid #1e1e1e;
    padding: 1rem;
    /* height: inherit;
    width: inherit; */
    height: 100%;
    width: 100%;

    /* height: calc(141*0.0625rem);
    width: calc(463*0.0625rem); */
    border-radius: 1.25rem;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.AboutMe__container-box {
  display: flex;
  /* background-color: #ff0909; */
  flex-direction: row;
  gap: calc(15*0.0625rem);
  height: 100%;
  width: 100%;
}
.AboutMe__image-box {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    /* width: calc(101*0.0625rem); */
    box-sizing: border-box;
    overflow: hidden;
    background-color: #916CE7;
    margin: 0;
    border-radius: 0.75rem
}
.AboutMe__image-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.AboutMe__content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3cqh;
  /* gap: 0.625rem; */
  /* background-color: #916CE7; */
}
.AboutMe__name-resume{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #916CE7; */
}
.AboutMe__container h2 {
  margin: 0;
  color: #E6E6E6;
  font-size: calc(22rem/16);
  /* font-size: clamp(0.1rem,1.4vw + .2rem,calc(26rem/16)); */
  /* font-size: calc(0.675cqw + 2.25cqh);
  font-size: calc(100cqw/160 + 100cqh/48); */
  font-weight: 500;
}

.AboutMe__container p {
  margin: 0;
  color: #999999;
  font-size: calc(14rem/16);
  /* font-size: clamp(0.1rem,0.7vw + .2rem,calc(18rem/16)); */
  font-weight:400;
}

.AboutMe__download {
  display: flex;
  align-items: center;
  gap: calc(8rem/16);
}

.AboutMe__download img{
  height: 2rem;
  width: auto;
  object-fit: contain;
}
#downloadR{
  font-size: calc(13rem/16);
  /* font-size: clamp(0.1rem,0.7vw + .2rem,7rem); */
  color: #cccccc;
}